.footer {
   position: relative;
   display: flex;
   align-items: start;
   width: 100%;
   height: 450px;
   overflow: hidden;

   // .footer__contacts
   &__contacts {
      position: relative;
      width: 50%;
   }
   // .footer__map
   &__map {
      position: relative;
      width: 50%;
      overflow: hidden;
   }

   @media (max-width: 960px) {
      flex-direction: column;
      height: auto;

      &__contacts {
         width: 100%
      }

      // .footer__map
      &__map {
         width: 100%;
      }
   }
}

.contacts-footer {
   background-color: #000;
   background-image: linear-gradient(to bottom, rgba(0,0,0, 0.8), rgba(0,0,0,0.8)), url('../../img/footer_background.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

		// .contacts-footer__title
		&__title {
         margin: 30px 30px 15px;
         position: relative;
         font-family: 'ReformaGrotesk',Arial,sans-serif;
         font-size: 70px;
         line-height: 1.55;
         font-weight: 500;
         text-transform: uppercase;
         letter-spacing: 3px;
         color: #ff7b00;
         transform: translate(0, -50%);
         transition: all 1s ease 0.3s;
         opacity: 0;

         &._active {
            transform: translate(0, 0);
            opacity: 1;
         }

         @media (max-width: 960px) {
            font-size: 44px;
            text-align: center;
         }

         @media (max-width: 450px) {
            margin: 25px 30px 10px;
            font-size: 38px;
         }
      }

		// .contacts-footer__wrapper
		&__wrapper {
         margin: 0 30px;
         display: flex;
         flex-direction: column;
         font-size: 24px;
         font-family: 'FuturaPT',Arial,sans-serif;
         line-height: 1.55;
         font-weight: 600;
         color: #fff;
         letter-spacing: 2px;

         & a {
            color: #fff;
         }

         @media (max-width: 670px) {
            margin: 0 15px;
            align-items: center;
         }
      }

		// .contacts-footer__phone
		&__phone {
         margin-bottom: 5px;
         transform: translate(-50%, 0);
         transition: all 1s ease 0.7s;
         opacity: 0;

         &._active {
            transform: translate(0, 0);
            opacity: 1;
         }

         &:hover {
            color: $orange;
         }

         &:active {
            color: $orange;
            -webkit-tap-highlight-color: transparent;
         }

         @media (max-width: 450px) {
            font-size: 20px;
         }
      }

		// .contacts-footer__phone-number
		&__phone-number {
         padding-left: 28px;
         display: inline-block;
         position: relative;

         &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: -3px;
            width: 28px;
            height: 28px;
            background-image: url('../../img/icons/call.png');
            background-size: cover;
         }

         @media (max-width: 450px) {
            &::before {
               left: 3px;
               width: 23px;
               height: 23px;
            }
         }
      }

		// .contacts-footer__mail
		&__mail {
         margin-bottom: 20px;
         transform: translate(-50%, 0);
         transition: all 1s ease 0.7s;
         opacity: 0;

         &._active {
            transform: translate(0, 0);
            opacity: 1;
         }

         @media (max-width: 450px) {
            margin-bottom: 15px;
            font-size: 18px;
         }

         @media (max-width: 350px) {
            // font-size: 17px;
            letter-spacing: 1px;
         }
      }


      // .contacts-footer__location-wrapper
      &__location-wrapper {
         margin-bottom: 20px;
         align-self: start;
         transform: translate(-50%, 0);
         transition: all 1s ease 0.7s;
         opacity: 0;

         &._active {
            transform: translate(0, 0);
            opacity: 1;
         }

         @media (max-width: 960px) {
            position: absolute;
            top: 113px;
            right: 30px;
            transform: translate(50%, 0);
            transition: all 1s ease 0.7s;
            opacity: 0;

            &._active {
               transform: translate(0, 0);
               opacity: 1;
            }
         }

         @media (max-width: 670px) {
            position: relative;
            top: 0;
            right: auto;
            order: -1;
            align-self: center;
         }

         @media (max-width: 450px) {
            margin-bottom: 15px;
            font-size: 17px;
         }
      }

		// .contacts-footer__location
		&__location {
         position: relative;
         line-height: 28px;
         font-weight: 500;
         letter-spacing: 0;
         text-align: right;

         &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 28px;
            width: 28px;
            height: 28px;
            background-image: url('../../img/icons/location.png');
            background-size: cover;
         }

         @media (max-width: 670px) {
            &::before {
               left: -6px;
            }
         }

         @media (max-width: 450px) {
            &::before {
               top: 8px;
               left: -4px;
               width: 20px;
               height: 20px;
            }
         }
      }

		// .contacts-footer__payment
		&__payment {
         margin-bottom: 80px;
         font-size: 17px;
         letter-spacing: 3px;

         transform: translate(0, 50%);
         transition: all 1s ease 1s;
         opacity: 0;

         &._active {
            transform: translate(0, 0);
            opacity: 1;
         }

         @media (max-width: 960px) {
            margin-bottom: 30px;
         }

         @media (max-width: 670px) {
            margin-bottom: 80px;
         }
      }

		// .contacts-footer__payment-title
		&__payment-title {
         color: #ff7b00;

         @media (max-width: 670px) {
            text-align: center;
         }
      }

		// .contacts-footer__payment-info
		&__payment-info {
         @media (max-width: 670px) {
            text-align: center;
         }
      }

		// .contacts-footer__paypal
		&__paypal {
         position: absolute;
         right: 30px;
         bottom: 30px;

         @media (max-width: 670px) {
            right: auto;
            left: 50%;
            transform: translate(-50%);
         }
      }
}