@font-face {
	font-family: 'ReformaGrotesk';
	font-display: swap;
	src: local("O"), url("../fonts/ReformaGroteskLight.woff") format("woff"),
			url("../fonts/ReformaGroteskLight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ReformaGrotesk';
	font-display: swap;
	src: local("O"), url("../fonts/ReformaGroteskMedium.woff") format("woff"),
			url("../fonts/ReformaGroteskMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ReformaGrotesk';
	font-display: swap;
	src: local("O"), url("../fonts/ReformaGroteskDemi.woff") format("woff"),
			url("../fonts/ReformaGroteskDemi.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ReformaGrotesk';
	font-display: swap;
	src: local("O"), url("../fonts/ReformaGroteskBold.woff") format("woff"),
			url("../fonts/ReformaGroteskBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	font-display: swap;
	src: local("O"), url("../fonts/FuturaPTNormal.woff") format("woff"),
			url("../fonts/FuturaPTNormal.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	font-display: swap;
	src: local("O"), url("../fonts/FuturaPTMedium.woff") format("woff"),
			url("../fonts/FuturaPTMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	font-display: swap;
	src: local("O"), url("../fonts/FuturaPTDemi.woff") format("woff"),
			url("../fonts/FuturaPTDemi.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	font-display: swap;
	src: local("O"), url("../fonts/FuturaPTBold.woff") format("woff"),
			url("../fonts/FuturaPTBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}