@import "variables.scss";
@import "nullstyles.scss";
@import "mixins.scss";
@import "fonts.scss";


* {
  -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0 auto;
    position: relative;
    min-width: 320px;
    max-width: 1200px;
    font-family: 'FuturaPT', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: #b5b5b5;
    background-color: #fff;
}

.body-wrapper {
  height: 100vh;
  background-image: url('../../img/body_background.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100vh;
}

a {
    color: #b5b5b5;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  // ._strong
._strong {
  font-weight: 700;
}
// ._orange
._orange {
  color: #ff7b00;
}